<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Granal Sport</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
  </head>
  <body>
    <div class="header-logo">
      <img src="../static/images/logoCirculo_granal.jpg" alt="" width="100px">
      <p style="padding-left:20px; font-size:25px; color:grey">Mejorando las instalaciones deportivas en Andalucía</p>
    </div>

    <div class= "nav-bar">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="cesped-artificial.html">Césped Artificial</a></li>
        <li><a href="cesped-natural.html">Césped Natural</a></li>
        <li><a href="pavimentos-deportivos.html">Pavimentos</a></li>
        <li><a href="equipamiento-deportivo.html">Equipamiento</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>

    <div class="" style="width:100%">
      <img src="../static/images/foto-pagina-contacto.jpg" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid black">
      <h3 valign="bottom">Contacto</h3>
    </div>

    <table class="table-productos">
      <tr>
        <td valign="top" style="width:50%">
          <p>Si estás trabajando en un proyecto deportivo, necesitar construir un nuevo campo de césped o un pavimento, o necesitas cualquier tipo de pavimento, estaremos encantados de atenderte. </p>
        </td>
        <td valign="top" style="width:50%">
          <p>Si necesitas césped llama directamente a nuestor técnico Toni Palau al 661 560 626 o mándale un email a toni.palau@granal.es. Si necesitas un pavimento o material deportivo contacta con nuestro experto Manolo Cueto. Le puedes llamar al 649 867 130 o escribirle a info@granal.es </p>
        </td>
      </tr>
    </table>

<div class="container-contacto">
  <form name="contactform" method="post" action="send_form_email.php">
    <table width="450px">
    <tr>
     <td valign="top">
      <label for="first_name">Nombre *</label>
     </td>
     <td valign="top">
      <input  type="text" name="first_name" maxlength="50" size="30">
     </td>
    </tr>
    <tr>
     <td valign="top">
      <label for="last_name">Apellido *</label>
     </td>
     <td valign="top">
      <input  type="text" name="last_name" maxlength="50" size="30">
     </td>
    </tr>
    <tr>
     <td valign="top">
      <label for="email">Email  *</label>
     </td>
     <td valign="top">
      <input  type="text" name="email" maxlength="80" size="30">
     </td>
    </tr>
    <tr>
     <td valign="top">
      <label for="telephone">Teléfono Contacto</label>
     </td>
     <td valign="top">
      <input  type="text" name="telephone" maxlength="30" size="30">
     </td>
    </tr>
    <tr>
     <td valign="top">
      <label for="comments">Comentarios *</label>
     </td>
     <td valign="top">
      <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
     </td>
    </tr>
    <tr>
     <td colspan="2" style="text-align:center">
      <input type="submit" value="Submit">   <a href="http://www.freecontactform.com/email_form.php">Email Form</a>
     </td>
    </tr>
    </table>
  </form>
</div>

    <div class="footer">
      <ul>
        <li><strong>Granal Sport, SL</strong></li>
        <li>Avenida Fernando de los Rios</li>
        <li>Granada (Granada - Andalucía)</li>
        <li>email: info@granal.es / Telf: xxxxxxxx</li>
      </ul>
    </div>

  </body>
</html>
