{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Granal Sport</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  </head>
  <body>
    <div class="header-logo">
      <img src="{% static 'images/logoCirculo_granal.jpg' %}" alt="" width="100px">
      <p style="padding-left:20px; font-size:25px; color:grey">Mejorando las instalaciones deportivas en Andalucía</p>
    </div>
    <div class= "nav-bar">
      <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'cesped-artificial' %}">Césped Artificial</a></li>
        <li><a href="{% url 'cesped-natural' %}">Césped Natural</a></li>
        <li><a href="{% url 'pavimentos-deportivos' %}">Pavimentos</a></li>
        <li><a href="{% url 'equipamiento-deportivo' %}">Equipamiento</a></li>
        <li><a href="{% url 'email' %}">Contacto</a></li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">
      <ul>
        <li><strong>Granal Sport, SL</strong></li>
        <li>Avenida Fernando de los Rios</li>
        <li>Granada (Granada - Andalucía)</li>
        <li>email: info@granal.es / Telf: xxxxxxxx</li>
      </ul>
    </div>
  </body>
</html>

