{% extends 'granal_web/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="" style="width:100%">
      <img src="{% static 'images/foto-pagina-cesped-artificial.png' %}" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid green">
      <h3 valign="bottom">Césped Artificial</h3>
    </div>

    <table class="table-productos">
        <td valign="top" style="width:50%;">
          <p>Granal Sport diseña e instala campos de césped artificial de manera personalizada. No todos los campos son iguales. El césped artificial es escogido adecuadamente según el tipo de uso y el presupuesto del cliente.</p>
        </td>
        <td valign="top" style="width:50%">
          <p>La empresa además ofrece el servicio de implantar sistemas de drenajes y riegos altamente eficientes. Un campo completo es garantía de alto rendimiento. Contacta y habla con uno de nuestros técnicos.</p>
        </td>
      </tr>
    </table>
 {% endblock %}
