{% extends 'granal_web/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="" style="width:100%">
      <img src="{% static 'images/foto-pagina-cesped-natural.jpg' %}" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid green">
      <h3 valign="bottom">Césped Natural</h3>
    </div>

    <table class="table-productos">
      <tr>
        <td style="width:50%">
          <p>El césped natural es la superficie que demandan los jugadpores profesionales. Para poder lograr la satisfacción de los deportistas un campo de césped natural debe estar siempre en buenas condiciones. </p>
        </td>
        <td valign="top" style="width:50%">
          <p>Granal Sport ofrece un servicio de diseño, construcción y mantenimiento integral. Todo debe ser ejecutado una vez las varibales meteorológicas han sido evaluadas. La prevención y el mantenimineto es la base para lograr un campo de alto rendimiento.</p>
        </td>
      </tr>
    </table>
{% endblock %}
