{% extends 'granal_web/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="" style="width:100%">
      <img src="{% static 'images/foto-pagina-pavimentos-deportivos.jpg' %}" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid orange">
      <h3 valign="bottom">Pavimentos Deportivos</h3>
    </div>

    <table class="table-productos">
      <tr>
        <td valign="top" style="width:50%">
          <p>La división de pavimentos deportivos de Granal Sport ofrece una gran versatilidad de productos y soluciones, tanto para clientes de élites como para clientes más modestos. </p>
        </td>
        <td valign="top" style="width:50%">
          <p>La empresa siempre garantiza los mejores materiales para cada proyecto, priorizando la durabilidad y las prestaciones. La practica de cualquier deporte sobre un pavimento de Granal Sport es más seguro. </p>
        </td>
      </tr>
    </table>
{% endblock %}